{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <!-- dugme za modal i content modala -->
      <button id="modal-za-bolest" type="button" name="button">Dodaj bolest</button>
      <div class="modal-bg">
        <div class="modal-bolest">
          <h2>Dodaj bolest</h2>
          <span class="zatvori-modal">X</span>
          <form class="" action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" id="submit-dugme" class="dugme-u-modalu">Dodaj</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- tabela sa izlistanim bolestima -->
  <div class="col">
    <table class="table" id="tabelaBolesti">
      <thead>
        <tr>
          <th>Ime bolesti</th>
          <th>Ime doktora</th>
          <th>Izmeni</th>
          <th>Detalji</th>
        </tr>
      </thead>
      <tbody>
        {% for i in bolesti %}
        <tr>
          <td id="detalji-tippy-{{i.id}}">{{i.ime_bolesti}}</td>
          <td>{{i.ime_doktora}}</td>
          <td><a id="izmeni-za-ajax-{{i.id}}" class="btn btn-warning btn-sm" href="{% url 'izmeni_bolest' i.id %}">Izmeni</a></td>
          <td><a id="detalji-za-ajax-{{i.id}}" class="btn btn-info btn-sm detalji-tippy" data-template="detalji-tippy-{{i.id}}" href="{% url 'detalji_bolest' i.id %}">Detalji</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>


<script type="text/javascript">

    tippy('.detalji-tippy', {
      content(reference) {
        console.log('reference', reference);
        const id = reference.getAttribute('data-template');
        const template = document.getElementById(id);
        return template.innerHTML;
      },
      allowHTML: true,
      placement: 'right',
      theme: 'light',
    });
</script>

<script type="text/javascript">
  //modal na stranici bolest
  var modalDugme = document.getElementById('modal-za-bolest');
  var modalBg = document.getElementsByClassName('modal-bg')[0];
  var spanClose =document.getElementsByClassName('zatvori-modal')[0];

  console.log(modalBg);
  modalDugme.addEventListener('click', function(){
    modalBg.classList.add('bg-active');
  });

  spanClose.addEventListener('click', function(){
    modalBg.classList.remove('bg-active');
  })
  </script>


<!-- ovo je za ajax -->
<script type="text/javascript">
var submitBtn = document.getElementById('submit-dugme');
submitBtn.onclick = function(e){
  e.preventDefault();
  var javascriptForma = $(this).closest('form');
  var jqueryForma = $(javascriptForma);
  var data = jqueryForma.serialize();
  console.log("data", data);
  $.ajax({
      type:'POST',
      url: 'dodaj-novu-bolest/',
      data:data,
      dataType:'json',
      success:function(response){
        $(javascriptForma)[0].reset();
        var instance = JSON.parse(response["data"]);
        var fields = instance[0]["fields"];
        var id = instance[0]["pk"];
        var dugmeIzmeni = document.getElementById('izmeni-za-ajax-{{i.id}}');
        var dugmeDetalji = document.getElementById('detalji-za-ajax-{{i.id}}');
        console.log("ovo su fields", fields);
        console.log("ovo je id ", id);
        //za sledeci deo se drkam, ne znam kako da pogodim onaj url kao a da ne koristim {i.id} varijantu...a uspeo sam da izvucem id od elementa (ima ga iznad u console.log)
        $('#tabelaBolesti tbody').prepend(
        `<tr>
          <td>${fields["ime_bolesti"]||""}</td>
          <td>${fields["ime_doktora"]||""}</td>
          <td><a id="izmeni-za-ajax-{{i.id}}" class="btn btn-warning btn-sm" href="">Izmeni</a></td>
          <td><a id="detalji-za-ajax-{{i.id}}" class="btn btn-info btn-sm detalji-tippy" data-template="detalji-tippy-{{i.id}}" href="">Detalji</a></td>
        </tr>`
        )

      },

    });
  };

</script>

{% endblock %}
