{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <br>
  <h2>Detalji bolesti:</h2>
  <br>
  <div class="row">
    <div class="col-4">
      <table class="table">
        <thead>
          <tr>
            <th class="detalji_bolesti_span">Ime bolesti</th>
            <th class="detalji_bolesti_span">Ime doktora</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{bolesti.ime_bolesti}}</th>
            <th>{{bolesti.ime_doktora}}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <img src="{% static '/images/bolesti.jpg' %}" height="100%" width="100%" alt="">
    </div>

  </div>


</div>
{% endblock %}

{% block footer %}
<footer>
  <div class="text-center p-3" id="absolute" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2021 Copyright: Vaccine</div>
</footer>
{% endblock %}
