{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Izvršite izmene i sačuvajte</h2>
  <form class="row row-cols-lg-auto g-3 align-items-center" action="" method="POST">
    {% csrf_token %}
    <ul class="list-group">
      {% if form.jmbg.errors %}
      <span class="alert alert-danger">{{form.jmbg.errors}}</span>
      {% endif %}
      <li class="list-group-item">Ime: {{form.ime}}</li>
      <li class="list-group-item">Prezime: {{form.prezime}}</li>
      <li class="list-group-item">Maticni broj: {{form.jmbg}}</li>
      <li class="list-group-item">Vrsta vackcine: {{form.vakcina}}</li>
      <li class="list-group-item">Da li ste alergicni?(Cekirajte polje ako jeste) {{form.alergija}}</li>
    </ul>
    <input id="dugme_disabled" type="submit" name="Sacuvaj" value="Sacuvaj">
    <a class="btn btn-secondary btn-sm ms-1" href="{% url 'lista' %}">Cancel</a>
    </form>


</div>
{% endblock %}

{% block scripts %}

  <script type="text/javascript">
    console.log('ucitana funkcija');
    var cekirano_polje = document.getElementById('id_alergija');
    //funkcija za dugme = disabled ukoliko je korisnik alekrgican
    function disabled(){
      var cekirano_polje = document.getElementById('id_alergija');
      dugme_koje_ce_biti_disabled = document.getElementById('dugme_disabled')
      if (cekirano_polje.checked){
        console.log('cekirano');
        dugme_disabled.setAttribute("disabled", true);
      }
      else{
        dugme_disabled.removeAttribute('disabled');
      }
    }
    cekirano_polje = addEventListener('click', disabled);


  </script>
{% endblock %}
