{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br>

  <form class="row row-cols-lg-auto g-3 align-items-center" action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="" value="Dodaj" style="margin-left:5px;">
  </form>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Vaccine</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for i in kreirani %}
        <td>{{i.ime}}</td>
        <td>{{i.prezime}}</td>
        <td style="color:green">{{i.vakcina}}</td>
        <td>
          <form class="float-none" action="delete/{{i.id}}" method="POST">
          {% csrf_token %}
          <input type="submit" name="delete" value="Obriši">
          </form>
       </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



    </div>
    </div>

</div>
{% endblock %}
