{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: float-end;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
{% endblock %}


{% block list %}
<div class="container">
  <br>
  <h3>Lista vakcinisanih građana:</h3>
  <br>



{% if messages %}
  {% for message in messages %}
    <!-- ovde se moze izabrati nesto od ponudjenih django levela:error, success, info..i tako ga selektovati -->
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success">
        {{ message }} <i class="fas fa-check-circle" style="color:green"></i>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}


<!-- The Modal -->
{% for i in kreirani %}
<div class="modal myModal">
<!-- Modal content -->
<div class="modal-content">
  <span class="close">&times;</span>
    <h5>Upisite Vasu bolest</h5>
    <form class="form-control form-bolest" method="POST">
      {% csrf_token %}
      <div class="mb-2">
        <label for="ime_bolesti" class="form-label">Ime bolesti: </label>
        <input type="text" name="ime_bolesti" value="" class="form-control js-ime-bolesti">
      </div>

      <div class="mb-2">
        <label for="ime_doktora" class="form-label">Ime doktora: </label>
        <input type="text" name="ime_doktora" value="" class="form-control js-ime-doktora">
      </div>
      <button type="button" class="close-btn btn btn-sm btn-secondary">Close</button>
      <input type="submit" name="" class="btn btn-sm btn-info js-submit" value="Submit">
    </form>

  </div>
</div>
{% endfor %}


  <ul class="list-group" id="moja_lista" name="lista">
    {% for i in kreirani %}
    <li class="list-group-item"><span style='display:none' id="za_tippy-{{i.id}}">{{i.ime}} <br> {{i.prezime}} <br> {{i.vakcina}} <br> {{i.jmbg}} </span>{{i.ime}} {{i.prezime}} <i class="fas fa-long-arrow-alt-right"></i>
       <span class="vakcina_oboji {% if i.vakcina == 'Sinofarm' %} sinofarm {% endif %} ">{{i.vakcina}}</span>
       <button type="button" class="btn btn-secondary float-end btn-sm ms-1 openmodal myBtn"  name="button">Dodaj bolest</button>
       <a class="btn btn-warning float-end btn-sm ms-1 btn-tippy-2" data-template="za_tippy-{{i.id}}" href="{% url 'edit' i.id %}">Uredi</a>
       <a class="btn btn-primary float-end btn-sm ms-1 btn-tippy" data-template="za_tippy-{{i.id}}" href="{% url 'vakcinisan' i.id %}">Detalji</a>

    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block footer %}
<footer>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2021 Copyright: Vaccine</div>
</footer>
{% endblock %}

{% block scripts %}
<!-- {{block.super}} -->
<script src="https://kit.fontawesome.com/9541bd8c06.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="{% static '/js/main.js' %}"> </script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<script>
  // var astra = document.getElementById('vakcina_oboji');
  // var astra_vrednost = astra.value;
  // function crveno(){
  //   console.log("mladja");
  //   if (astra.value == 'Astra Zeneka'){
  //     astra_vrednost.style.color="red";
  //   }
  //   else{
  //     console.log('ringoo');
  //   }
  // }


    // prvo vise spanova ti je imalo isti id("vakcina_oboji").
    //to znaci da funkcija var astra = document.getElementById('vakcina_oboji'); vrati samo prvi element. primeti da se funckija zove sa jedninom getElementById.
    //taj prvi element ti nema vrednost astra zeneke tako da ga ne oboji. a ostale ne uzme u obzir.
    // zato smo dodali spanovima klasu(ne mora jedinstvena da bude. vidi gore u htmlu).
    //Koristimo funkciju document.getElementsByClassName("vakcina_oboji") koja vrati listu spanova koji imaju klasu vakcina_oboji
    //Zatim prodjemo for petlljom kroz svaki element i poredimo da li je vrednost Astra Zeneka. Ako jeste, dodamo color red.
    // eto ga
    var astra = document.getElementsByClassName("vakcina_oboji");
    console.log('lista elemenata sa klasom vakcina_oboji', astra);
    for (var i = 0; i < astra.length; i++) {
      var astra_vrednost = astra[i].innerHTML;
      console.log('astra_vrednost-vrednost svakog elementa liste spanova-'+i, astra_vrednost);
      if (astra_vrednost == 'Astra Zeneka'){
        astra[i].style.color="red";
      }
      else if (astra_vrednost == 'Fajzer') {
        astra[i].style.color="green";
      }
    }
</script>

<script type="text/javascript">
    $(document).on('submit', '.form-bolest', function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url: 'bolest/',
      data:{
        ime_bolesti:$('.js-ime-bolesti').val(),
        ime_doktora:$('.js-ime-doktora').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(){
        alert("Kreirana nova bolest");

      }
    })


});

</script>

{% endblock %}
