{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
  <br>
  <h3>Popunite formu i stisnite dugme "Dodaj"</h3>
  <hr>
  <div class="row">

    <div class="col-sm">
      <form action="" method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div> <!--ovo se koristi za poziv clean!-->
        {% endif %}

          <div class="mb-3">
            <label for="{{ form.ime.id_for_label }}" class="form-label">Ime: </label>
            {{ form.ime }}
          </div>

          <div class="mb-3">
            <label for="{{ form.prezime.id_for_label }}" class="form-label">Prezime: </label>
            {{ form.prezime }}
          </div>

          <div class="mb-3">

            <label for="{{ form.jmbg.id_for_label }}" class="form-label">Maticni broj: </label>
            {{ form.jmbg }}
            {% if form.jmbg.errors %}
              <div class="alert alert-danger">{{form.jmbg.errors}}</div>
            {% endif %}
          </div>

          <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email: </label>
            {{ form.email_1 }}
          </div>

          <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email potvrdi: </label>
            {{ form.email_2 }}
          </div>

          <div class="mb-3">
            <label for="{{ form.vakcina.id_for_label }}" class="form-label">Vrsta vackcine: </label>
            {{ form.vakcina }}
          </div>

          <div class="mb-3">
            <label for="{{ form.bolest_id.id_for_label }}" class="form-label">Dijagnostikovana bolest: </label>
            {{ form.bolest_id }}
          </div>

          <div class="mb-3">
            <label for="{{ form.alergija.id_for_label }}" class="form-label">Da li ste alergicni?(Cekirajte polje ako jeste) </label>
            {{ form.alergija }}
          </div>

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="dodaj_dugme">
      Dodaj
    </button> <br>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!-- odavde pocinje modal, koji uyzima javascrpit -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Da li ste sigurni da zelite da primite vakcinu <span id="vrednost_vakcine"> </span>?  <!--kako ovde izabrati selektovanu vakcinu jebem mu sve--!>
            <br>
              u polju ime, ima ukupno <span id="broj_karaktera"></span> karaktera.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input class="btn btn-success" type="submit" name="" value="Da" style="margin-left:5px;">
          </div>
        </div>
      </div>
    </div>
      </form>
    </div>

    <div class="col-sm float-end"">
      <br><br>
      <img src="{% static '/images/forma_slika.jpg' %}" class="img-fluid ms-5" alt="Responsive image" height="30%" >
      <br> <br>
      <p><u>Napomena:</u> Ukoliko imane dijagonostikovanu neku bolest koje nema na listi, idite na sledeci <a href="{% url 'bolest' %}" id="tippy-link">link</a></p>
    </div>

  </div>
</div>
  <br>
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
  // ovde uzima od gornjeg modala
  var myModal = document.getElementById('exampleModal')

console.log(myModal);
// slusam dogadja bootstrapa koji se zove shown.bs.modal
myModal.addEventListener('shown.bs.modal', function () {

  var ime_polje = document.getElementById('id_ime');
  var broj_karaktera_u_imenu = ime_polje.value.length;
  var karakteri_span = document.getElementById('broj_karaktera');
  karakteri_span.innerHTML = broj_karaktera_u_imenu;

  var vakcinaField = document.getElementById('id_vakcina');
  var vakcinaFieldVrednost = vakcinaField.value;
  var vrednost_vakcine_span = document.getElementById('vrednost_vakcine');
  console.log('vrednost_vakcine', vrednost_vakcine_span);
  vrednost_vakcine_span.innerHTML = vakcinaFieldVrednost;
  console.log('vakcinaField', vakcinaField);
  console.log(vakcinaField.value);
});

var alergija_check_box = document.getElementById('id_alergija');
function disabled_funkcija() {
  console.log('ucitana funkcija');
  var element_na_kome_se_desio_event = document.getElementById('id_alergija');
  var dugme_koje_ce_biti_disabled = document.getElementById('dodaj_dugme');
  if (element_na_kome_se_desio_event.checked) {
    console.log('cekirano');
    alert('Ne možete se prijaviti ukoliko ste alergični.')
    dugme_koje_ce_biti_disabled.setAttribute("disabled", true);
  }
  else {
    console.log('necekirano');
    dugme_koje_ce_biti_disabled.removeAttribute("disabled");
  }
}
alergija_check_box.addEventListener('click', disabled_funkcija);

</script>

<script type="text/javascript">
  tippy('#tippy-link', {
    content: "Dodaj bolest",
    placement: 'right',
    animation: 'scale',
});
</script>

{% endblock %}
