{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <br>
  <h2>Detalji:</h2>
  <br>
  <ul class="list-group">
    <li class="list-group-item"><span class="detalji_span">Ime:</span> {{vakcinisan.ime}}</li>
    <li class="list-group-item"><span class="detalji_span">Prezime:</span> {{vakcinisan.prezime}}</li>
    <li class="list-group-item"><span class="detalji_span">Maticni broj:</span> {{vakcinisan.jmbg}}</li>
    <li class="list-group-item"><span class="detalji_span">Vakcina:</span> {{vakcinisan.vakcina}}</li>
  </ul>
</div>

{% endblock %}

{% block footer %}
<footer>
  <div id="absolute" class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2021 Copyright: Vaccine</div>
</footer>
{% endblock %}
