

body{
  background-color: #e8f1fc;
}

.sinofarm{
  color:#f7f05c;
  font-weight:bold;
}
#link:hover{
  font-weight:bold;
  color:#eb4034;
  font-size: 16px;
}
#dugme_za_drugu_stranu:hover{
  background-color: #a9e9f5;
}

#absolute {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:[footer-height];
}
p{
  font-family:sans-serif;
  font-family: 'Charmonman', cursive;
  font-size: 19px;
}

.detalji_span{
  font-family:sans-serif;
  font-size: 19px;
  color: green;
  font-style: oblique;
}

.tippy-box[data-theme~='blue'] {
  background-color: #bbeddc;
  color: #070b12;
  font-style: oblique;
}

.tippy-box[data-theme~='blue'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: blue;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: float-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
