

body{
  background-color: #e8f1fc;
}

.sinofarm{
  color:#f7f05c;
  font-weight:bold;
}
#link:hover{
  font-weight:bold;
  color:#eb4034;
  font-size: 16px;
}
#dugme_za_drugu_stranu:hover{
  background-color: #a9e9f5;
}

#absolute {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:[footer-height];
}
.firstPage-paragraph{
  font-family:sans-serif;
  font-family: 'Charmonman', cursive;
  font-size: 19px;
}

.detalji_span{
  font-family:sans-serif;
  font-size: 19px;
  color: green;
  font-style: oblique;
}

.detalji_bolesti_span{
  font-family: 'Zen Dots', cursive;
  color:#426cf5;
}

.tippy-box[data-theme~='blue'] {
  background-color: #bbeddc;
  color: #070b12;
  font-style: oblique;
}

#dugme-za-modal-bolest{
  margin: 2em;
}

.tippy-box[data-theme~='blue'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: blue;
}
